<div class="parent"> 
    <div class="container">
        <div class="form-container sign-in" id="sign-in-form">
            <form>
                <h1>Sign In</h1>
                <input type="email" name="email" [(ngModel)]="loginObj.email" placeholder="Email">
                <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password">
                <button (click)="onLogin()">Sign In</button>
            </form>
            <p>New here? <button (click)="navigateToSignUp()">Sign Up</button></p>
        </div>
    </div>
</div>